# Entorno virtual
env/

# Configuración del editor
.vscode/

# Caché de Python
__pycache__/
*.py[cod]

# Videos (demasiado pesados para GitHub)
*.mp4

# Modelo entrenado
asl_model.pkl

# Variables de entorno / secretos
.env